<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ams">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="Manifest.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_ams"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_ams_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".student.StudentDetail"></activity>
        <activity android:name=".admin.VerifyTeacherActivity" />

        <service android:name=".others.GPSTracker" />

        <activity android:name=".teacher.TeacherAfterAttendance" />
        <activity android:name=".teacher.DisplayShortAttendance" />
        <activity android:name=".admin.AdminActivity" />
        <activity
            android:name=".teacher.QRCodeGenerator"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".teacher.TeacherTakeAttendance" />
        <activity
            android:name=".others.SplashActivity"
            android:label="AMS"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="com.name.appname.MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".others.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".teacher.TeacherRegister"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".student.StudentRegister"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".teacher.TeacherActivity" />
        <activity android:name=".student.StudentActivity" />
        <activity android:name=".student.StudentProfile" />
        <activity android:name=".teacher.TeacherSubject" />
        <activity android:name=".teacher.TeacherProfile" />
        <activity android:name=".others.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>